@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap");

* {
    box-sizing: border-box;
    line-height: 1.5;
}

html,
body,
#root,
.container-fluid {
    font-family: "Lato", sans-serif;
    height: 100%;
    line-height: 24px;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1rem;
}

@include media-breakpoint-up(lg) {
    .video-container {
        border-radius: 1.25rem;
    }
}

// home screen
#home-screen {
    #main {
        background-color: #ffffff;
        .title {
            color: #96b0ff;
        }
        color: #212121;

        h3 {
            font-size: 1.75rem;
            font-weight: 200;
        }

        h4 {
            font-size: 1.25rem;
        }

        input:focus {
            outline: none !important;
            box-shadow: none;
            border: 1px solid #96b0ff;
        }
        .btn {
            background-color: #96b0ff;
            border: 0px solid black;
        }
    }
}

// overview
#overview {
    color: #212121;

    p {
        font-size: 0.9rem;
    }

    #main-stats {
        color: #ffffff;
        background-color: #96b0ff;
        border-radius: 0.75rem;
        box-shadow: 1px 2px 6px rgba(89, 124, 231, 0.37);
    }
    .btn {
        background-color: #c5d4ff;
        border-radius: 0.5rem;
        border: 1px solid #c5d4ff;
    }

    #graph {
        margin-bottom: 10rem;
        background-color: #f3f3f3;
        border-radius: 0.75rem;
        box-shadow: 1px 2px 6px rgba(192, 192, 192, 0.37);

        h5 {
            color: #525252;
        }

        p {
            color: #8e8e8e;
        }
    }

    .start {
        a {
            z-index: 1060;
        }
        span {
            color: #ffffff;
            font-size: 1.75rem;
            padding: 0.75rem;
            border-radius: 10rem;
            background-color: #96b0ff;
            border: 0.75rem solid #ffffff;
            margin-bottom: -1rem;
        }
    }
    .navigation {
        color: #96b0ff;
        background-color: #f3f3f3;
    }
}

.video-container {
    #inputVideo {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }

    .top-bar {
        position: absolute;
        top: 0;
        z-index: 2;
        max-height: 4rem;
        background-color: #abc0ff;
        opacity: 0.95;

        .material-icons,
        .material-icons-outlined {
            color: #ffffff;
            font-weight: 100;
        }

        .heading {
            font-weight: 400;
            color: #ffffff;
        }
    }

    .bottom-bar {
        position: absolute;
        z-index: 2;
        bottom: 0;
        max-height: 6rem;
        background-color: #abc0ff;
        opacity: 0.95;
        color: #ffffff;

        .subheading {
            font-weight: 600;
        }

        span {
            font-weight: 400;
        }
    }

    .emotion-indicator {
        position: absolute;
        z-index: 2;
        top: 4rem;
        max-height: 2rem;

        .emotion {
            color: #ffffff;
            font-weight: 700;
            padding: 0.5rem 3rem 0.5rem 3rem;
            background-color: rgba($color: #3d3d3d, $alpha: 0.85);
            border: 0px solid black;
            box-shadow: 2px 3px 10px rgba(120, 120, 121, 0.5);
            border-radius: 0.75rem;
        }
    }

    .live-feedback {
        position: absolute;
        z-index: 2;
        top: 50%;
        max-height: 2rem;

        .live-feedback-text {
            color: #ffffff;
            font-weight: 400;
            border: 0px solid black;
            box-shadow: 2px 3px 10px rgba(120, 120, 121, 0.5);
            border-radius: 0.75rem;
            background-color: rgba($color: #5468a8, $alpha: 0.85);
        }
    }
}
